.git
.github
.gitignore
.env
.env.*
!.env.example

node_modules
npm-debug.log*

/public/build
/public/hot
/public/storage

/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views

/bootstrap/cache

/vendor

*.md
!README.md

tests
phpunit.xml
.phpunit.result.cache
.phpunit.cache

.editorconfig
.styleci.yml
phpstan.neon

docker-entrypoint.sh
Dockerfile
docker-compose*.yml
